@import "tailwindcss";

/*inter*/
@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-v20-latin-regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-v20-latin-300.woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-v20-latin-700.woff2");
    font-weight: 700;
    font-style: normal;
}

/*suse mono*/
@font-face {
    font-family: "SUSE Mono";
    src: url("/fonts/suse-mono-v1-latin-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SUSE Mono";
    src: url("/fonts/suse-mono-v1-latin-300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SUSE Mono";
    src: url("/fonts/suse-mono-v1-latin-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/*apfel*/
@font-face {
    font-family: "Apfel Grotezk Regular";
    src: url("/fonts/ApfelGrotezk-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/*segmented*/
@font-face {
    font-family: "DSEG7 Modern";
    src: url("/fonts/DSEG7Modern-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-inter:
        "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    --font-suse-mono: "SUSE Mono", monospace, sans-serif;
    --font-segmented: "DSEG7 Modern", monospace;
    --font-apfel:
        "Apfel Grotezk Regular", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
}
